<!doctype html>
<html lang="sv" <% if (htmlWebpackPlugin.options.production){ %>manifest="manifest.appcache"<% } %>>

<head>
  <meta charset="utf-8">
  <title>Figurkoder.se</title>
  <meta name="description" content=".">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="scripts/redirectToHTTPS.js"></script>
  <!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.green-orange.min.css" /> -->
  <link rel="stylesheet" href="css/material.css" />
  <link rel="stylesheet" href="css/material-grid.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <!-- android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
  <meta name="apple-mobile-web-app-title" content="Figurkoder.se">

</head>

<body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.production){ %>
  <script src="upup.min.js"></script>
  <script src="scripts/upup.start.js"></script><% } %>
  <script src="scripts/material.js"></script>
  <script src="scripts/boundle.min.js"></script>
</body>

</html>
